*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: Helvetica, Arial, sans-serif;
}
.container{
    background-color: #FCF5EB;
    height: 100vh;
    width: 100vw;
    padding: 0 40px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    align-items: center;

}
.navbar img:nth-child(1){
    width: 130px;
    height: 30px;
}
.navitems{
    display: flex;
    gap: 30px;
    font-size: 17px;
}
.navbar>button{
    display: flex;
    padding: 15px 20px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 60px;
    background-color: #25D366;
    border: none;
    border: 1px solid black;
}
.feature{
    display: flex;
    position: relative;
}
.navitems>p{
    cursor: pointer;
}
.feature::after{
    position: absolute;
    content:" ";
    height: 2px;
    background-color: #25D366;
    width: 100%;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.5s ease-in-out;
}
.feature:hover::after{
    transform: scaleX(1);
}
.slide{
    position: relative;
}
.slide::after{
    position: absolute;
    content:" ";
    height: 2px;
    background-color: #25D366;
    width: 100%;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.5s ease-in-out;
}
.slide:hover::after{
    transform: scaleX(1);
}

.maabeti{
    background-image: url("asset/MaaBeti.png");
    background-repeat: no-repeat;
    height: 80%;
    background-size: cover;
    border-radius: 20px;
}

    
.firstsec{
    height: 100%;
    padding-top: 40px;
    
}
.firstsec>p{
    padding-top: 10px;
    text-align:right;
    font-size: 12px;
    opacity: 0.8;
}